/* stylelint-disable no-descending-specificity */
footer {
  background: #fff;
  border-top: 0;
}

footer .footer > div {
  max-width: 1440px;
  margin: 0 auto;
  padding: 48px 80px;
}

footer .default-content-wrapper p
{
  color: #202020;
}

footer .default-content-wrapper p:first-child {
  display: flex;
  gap: 36px;
  margin-bottom: 24px;
}

footer .default-content-wrapper p:first-child a {
  color: #202020;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 400;
}

footer .default-content-wrapper p:first-child a:hover {
  text-decoration: underline;
}

footer .default-content-wrapper p:nth-child(2) {
  max-width: 760px;
  color: #202020;
  font-size: 0.95rem;
  line-height: 1.55;
  margin-bottom: 18px;
}

footer .default-content-wrapper p:last-child {
  color: #202020;
  font-size: 0.95rem;
  margin: 0;
}

footer .default-content-wrapper p:nth-child(2) a {
  color: #0086cf;
  text-decoration: none;
}

footer .default-content-wrapper p:nth-child(2) a:hover {
  text-decoration: underline;
}

